#mod-rb-google-map {
    height: 500px;
    img {
        width: 32px;
        height: 32px;
    }
    span {
        font-weight: bold;
    }
    .grid {
        padding: 0px;
    }
}

.form-notice-fix {
    .form-notice {
        position: absolute;
    }
    input[type='file'] + .form-notice {
        position: initial;
    }
    input[type='checkbox'][required]:not(.invalid),
    input[type='file'] {
        box-shadow: 0 0 0;
    }
}
